@font-face {
	font-family: 'Dosis';
	src: url(../Fonts/Dosis/Dosis-VariableFont_wght.ttf) format('truetype');
}

* {
	font-family: 'Dosis', sans-serif;
}

h1, h2, h3, p {
	margin-bottom: 3px;
	margin-top: 5px;
}

ul {
	list-style-type: none;
}
